body {
  width: 20rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: .25rem;
}

li:nth-child(odd) {
  background: #808080;
}
li:nth-child(even) {
  background: #fff;
}

h3,
p {
  margin: 0;
}